<!DOCTYPE html>
<html>

<head>
    <title>Simulation - Home</title>
    <% include ../partial/head.ejs %>

    <script src="/js/dashboard/dashboard.js"></script>
    <style>
        .dataTable>thead>tr>th[class*="sort"]::after {
            display: none
        }
    </style>
</head>

<body ng-app="simulationHome" class="hold-transition skin-blue fixed sidebar-mini" ng-cloak>

    <div class="wrapper">
        <% include ../partial/headbar.ejs %>
        <% include ../partial/sidebar.ejs %>
        <div class="content-wrapper" ng-controller="homeController">
            <section class="content-header">
                <h1>
                    <button class="btn btn-primary" ng-click="getFailure()"> Simulate Failure</button>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-5">
                        <%- include ../dashboard/side_left.ejs %>
                    </div>

                    <div class="col-md-7">
                        <%- include ../dashboard/side_right.ejs %>
                    </div>
                </div>
            </section>
        </div>
        <%- include ../partial/footer.ejs %>
    </div>
</body>

</html>