
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total Appliances</span>
                <span class="info-box-number">{{total_appliances}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <!-- <i class="fa fa-google-plus"></i> -->
                <i class="fas fa-temperature-low"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Appliance Type-A</span>
                <span class="info-box-number">{{total_type_a}}</span>
                <div>
                    <span class="info-box-text">
                        On: <b><small>19</small></b> |
                        Off: <b><small>6</small></b> |
                        Risk: <b style="color: red;"><small>2</small></b>
                    </span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <!-- <i class="fa fa-google-plus"></i> -->
                <i class="fas fa-battery-three-quarters"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Appliance Type-B</span>
                <span class="info-box-number">{{total_type_b}}</span>
                <div>
                    <span class="info-box-text">
                        On: <b><small>19</small></b> |
                        Off: <b><small>6</small></b> |
                        Risk: <b style="color: red;"><small>2</small></b>
                    </span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <!-- <i class="fa fa-google-plus"></i> -->
                <i class="fas fa-fan"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Appliance Type-C</span>
                <span class="info-box-number">{{total_type_c}}</span>
                <div>
                    <span class="info-box-text">
                        On: <b><small>19</small></b> |
                        Off: <b><small>6</small></b> |
                        Risk: <b style="color: red;"><small>2</small></b>
                    </span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <!-- <i class="fa fa-google-plus"></i> -->
                <i class="fas fa-hourglass-half"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Appliance Type-D</span>
                <span class="info-box-number">{{total_type_d}}</span>
                <div>
                    <span class="info-box-text">
                        On: <b><small>19</small></b> |
                        Off: <b><small>6</small></b> |
                        Risk: <b style="color: red;"><small>2</small></b>
                    </span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

<!--    <div class="col-md-6 col-sm-6 col-xs-12">-->
<!--        <div class="info-box">-->
<!--            <span class="info-box-icon bg-aqua">-->
<!--                &lt;!&ndash; <i class="fa fa-google-plus"></i> &ndash;&gt;-->
<!--                <i class="fab fa-safari"></i>-->
<!--            </span>-->
<!--            <div class="info-box-content">-->
<!--                <span class="info-box-text">Appliance Type-E</span>-->
<!--                <span class="info-box-number">25</span>-->
<!--                <div>-->
<!--                    <span class="info-box-text">-->
<!--                        On: <b><small>19</small></b> |-->
<!--                        Off: <b><small>6</small></b> |-->
<!--                        Risk: <b style="color: red;"><small>2</small></b>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.info-box-content &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.info-box &ndash;&gt;-->
<!--    </div>-->
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Monthly Recap Report</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2"> </div>
                    <!-- /.col -->
                    <div class="col-md-8">
                        <p class="text-center">
                            <strong>Goal Completion</strong>
                        </p>

                        <div class="progress-group">
                            <span class="progress-text">Appliance Type-A</span>
                            <span class="progress-number"><b>160</b>/200</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Appliance Type-B</span>
                            <span class="progress-number"><b>310</b>/400</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Appliance Type-C</span>
                            <span class="progress-number"><b>480</b>/800</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Appliance Type-D</span>
                            <span class="progress-number"><b>250</b>/500</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                        <div class="progress-group">
                            <span class="progress-text">Appliance Type-E</span>
                            <span class="progress-number"><b>250</b>/500</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                            </div>
                        </div>
                        <!-- /.progress-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-2"> </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                            <h5 class="description-header">124</h5>
                            <span class="description-text">TOTAL FAILURES</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 20%</span>
                            <h5 class="description-header">20</h5>
                            <span class="description-text">TOTAL DOWNTIME</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block border-right">
                            <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                            <h5 class="description-header">18</h5>
                            <span class="description-text">DOWNTIME AVOIDED</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="description-block">
                            <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                            <h5 class="description-header">1200</h5>
                            <span class="description-text">GOAL COMPLETIONS</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
