<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total Appliances</span>
                <span class="info-box-number">{{total_appliances}}</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <!-- <i class="fa fa-google-plus"></i> -->
                <!-- <i class="fas fa-temperature-low"></i> -->
                <i class="fas fa-battery-three-quarters"></i>

            </span>
            <div class="info-box-content">
                <span class="info-box-text">{{label_total_type_a}}</span>
                <span class="info-box-number">{{total_type_a}}</span>
                <div>
                    <span class="info-box-text">
                        On: <b><small>{{device_a_on}}</small></b> |
                        Risk: <b style="color: red;"><small>{{device_a_off}}</small></b> |
                        <!--                        Risk: <b style="color: red;"><small>2</small></b>-->
                    </span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <!-- <i class="fa fa-google-plus"></i> -->

                <i class="fas fa-fan"></i>

            </span>
            <div class="info-box-content">
                <span class="info-box-text">{{label_total_type_b}}</span>
                <span class="info-box-number">{{total_type_b}}</span>
                <div>
                    <span class="info-box-text">
                        On: <b><small>{{device_b_on}}</small></b> |
                        Risk: <b style="color: red;"><small>{{device_b_off}}</small></b> |
                        <!--                        Risk: <b style="color: red;"><small>2</small></b>-->
                    </span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <!-- <i class="fa fa-google-plus"></i> -->
                <i class="fas fa-hourglass-half"></i>

            </span>
            <div class="info-box-content">
                <span class="info-box-text">{{label_total_type_c}}</span>
                <span class="info-box-number">{{total_type_c}}</span>
                <div>
                    <span class="info-box-text">
                        On: <b><small>{{device_c_on}}</small></b> |
                        Risk: <b style="color: red;"><small>{{device_c_off}}</small></b> |
                        <!--                        Risk: <b style="color: red;"><small>2</small></b>-->
                    </span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua">
                <!-- <i class="fa fa-google-plus"></i> -->
                <i class="fab fa-safari"></i>

            </span>
            <div class="info-box-content">
                <span class="info-box-text">{{label_total_type_d}}</span>
                <span class="info-box-number">{{total_type_d}}</span>
                <div>
                    <span class="info-box-text">
                        On: <b><small>{{device_d_on}}</small></b> |
                        Risk: <b style="color: red;"><small>{{device_d_off}}</small></b> |
                        <!--                        Risk: <b style="color: red;"><small>2</small></b>-->
                    </span>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!--    <div class="col-md-6 col-sm-6 col-xs-12">-->
    <!--        <div class="info-box">-->
    <!--            <span class="info-box-icon bg-aqua">-->
    <!--                &lt;!&ndash; <i class="fa fa-google-plus"></i> &ndash;&gt;-->
    <!--                <i class="fab fa-safari"></i>-->
    <!--            </span>-->
    <!--            <div class="info-box-content">-->
    <!--                <span class="info-box-text">Appliance Type-E</span>-->
    <!--                <span class="info-box-number">25</span>-->
    <!--                <div>-->
    <!--                    <span class="info-box-text">-->
    <!--                        On: <b><small>19</small></b> |-->
    <!--                        Off: <b><small>6</small></b> |-->
    <!--                        Risk: <b style="color: red;"><small>2</small></b>-->
    <!--                    </span>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; /.info-box-content &ndash;&gt;-->
    <!--        </div>-->
    <!--        &lt;!&ndash; /.info-box &ndash;&gt;-->
    <!--    </div>-->
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Alert and Advisory</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div id="alert_advisory_table">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>