<div class="box box-primary" ng-cloak>
    <div class="box-header with-border" data-widget="collapse">
        <h3 class="box-title">Site Left</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">

                <table class="table-condensed table-bordered ">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>