<!DOCTYPE html>
<html>

<head>
    <title>BMS - Water Pump Station</title>
    <% include ../partial/head.ejs %>

    <script src="/js/water_turbines/water_turbines.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>

</head>

<body ng-app="waterTurbines" class="hold-transition skin-purple fixed sidebar-mini" ng-cloak>

    <div class="wrapper">
        <% include ../partial/headbar.ejs %>
        <% include ../partial/sidebar.ejs %>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Water Pump Station
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/waterTurbines"><i class="fa fa-home"></i>Water Pump Station</a></li>
                </ol>
            </section>
            <section class="content" ng-controller="waterTurbinesController">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary" ng-cloak>

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box-body chart-responsive">
                                                    <div class="chart" id="water_pump_chart1"
                                                        style="height: 300px; position: relative;"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body chart-responsive">
                                                    <div class="chart" id="water_pump_chart2"
                                                        style="height: 300px; position: relative;"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body chart-responsive">
                                                    <div class="chart" id="water_pump_chart3"
                                                        style="height: 300px; position: relative;"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="box box-primary" ng-cloak>

                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <canvas id="guegeChart"></canvas>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <canvas class="chartjs-gauge"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary" ng-cloak>
                                    <div class="box-header with-border">
                                        <h4 class="box-title" style="font-weight: bold">WATER LEVEL </h4>
                                    </div>
                                    <div class="box-body">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box box-primary" ng-cloak>
                                    <div class="box-header with-border">
                                        <h4 class="box-title" style="font-weight: bold">WATER VOLUME </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box box-primary" ng-cloak>
                                    <div class="box-header with-border">
                                        <h4 class="box-title" style="font-weight: bold">ALERTS </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="navbar-custom-menu">
                                                <ul class="nav navbar-nav">
                                                    <ul class="menu">
                                                        <li>
                                                            <a href="#">
                                                                <i class=""></i>
                                                                Alert 1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class=" "></i>
                                                                Alert 2
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class=""></i>Alert 3
                                                            </a>
                                                        </li>

                                                    </ul>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <%- include ../partial/footer.ejs %>
    </div>
</body>

</html>