<div class="col-md-12">
    <div class="box box-primary" ng-cloak>
        <div class="box-header with-border" data-widget="collapse">
            <h3 class="box-title">Asset Information</h3>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="table-asset-description" class="table table-condensed table-hover"
                            style="width: 100%;">
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>
</div>