<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Risk</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-6 col-md-4 text-center">
                <input type="text" class="knob" value="-80" data-min="-150" data-max="150" data-width="90"
                    data-height="90" data-fgColor="#00a65a">
                <!-- <div class="knob-label">Risk</div> -->
            </div>
            <div class="col-xs-6 col-md-8 text-center">
                <div id="risk-chart" style="height: 100px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Health Score (%)</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-6 col-md-4 text-center">
                <input type="text" class="knob" value="30" data-width="90" data-height="90" data-fgColor="#3c8dbc">

                <!-- <div class="knob-label">Health Score (%)</div> -->
            </div>
            <div class="col-xs-6 col-md-8 text-center">
                <div id="health-score-chart" style="height: 100px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">Remaining Useful Life (Days) </h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-6 col-md-4 text-center">
                <input type="text" class="knob" value="70" data-width="90" data-height="90" data-fgColor="#f56954">

                <!-- <div class="knob-label">Remaining Useful Life(Days)</div> -->
            </div>
            <div class="col-xs-6 col-md-8 text-center">
                <div id="rul-chart" style="height: 100px;"></div>
            </div>
        </div>
    </div>
</div>