<!DOCTYPE html>
<html>

<head>
    <title>BMS - DG Set</title>
    <% include ../partial/head.ejs %>
    <script src="/js/digiset/digiset.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .my-chart {
            display: block;
            width: 533px;
            height: 266px;
        }
    </style>
</head>

<body ng-app="digiset" class="hold-transition skin-purple fixed sidebar-mini" ng-cloak>

    <div class="wrapper">
        <% include ../partial/headbar.ejs %>
        <% include ../partial/sidebar.ejs %>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    DG set
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/digiset"><i class="fa fa-home"></i>DG set</a></li>
                </ol>
            </section>

            <section class="content" ng-controller="digisetController">
                <div class="row">
                    <div class="col-md-9">
                        <div class="box box-primary" ng-cloak>

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- <div class="col-md-12"> -->
                                        <img src="/images/generator.png" height="60" width="50">
                                        <span style="font-size: 25px; margin-top:30px; font-weight: bold">Total
                                            Generators</span>
                                        <!-- </div> -->
                                    </div>
                                    <style>
                                        .btn-dgset-on {
                                            border-radius: 3px;
                                            -webkit-box-shadow: none;
                                            box-shadow: none;
                                            border: 1px solid transparent;
                                            background-color: #CDCAF3;
                                        }

                                        .btn-dgset-off {
                                            border-radius: 3px;
                                            -webkit-box-shadow: none;
                                            box-shadow: none;
                                            border: 1px solid transparent;
                                            background-color: #F1E3F5;
                                        }
                                    </style>
                                    <div class="col-md-7">
                                        <div class="col-md-3" style="margin-top:10px;">
                                            <span class="btn-dgset-on btn-sm">ON </span> <b style="margin-left: 10px">
                                                {{on_generators}}</b>

                                        </div>
                                        <div class="col-md-3" style="margin-top:10px">

                                            <span class="btn-dgset-off btn-danger btn-sm">OFF </span> <b
                                                style="margin-left: 10px">{{off_generators}}</b>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12">
                                                <canvas id="totalGeneratorChart"></canvas>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box box-primary" ng-cloak>
                            <div class="box-header with-border">
                                <h4 class="box-title" style="font-weight: bold">AVAILABLE FUEL </h4>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-6 col-xs-12">

                                        <div>
                                            <img src="/images/fuel_pump.png" height="60" width="40">
                                            <span
                                                style="font-size: 30px; margin-left: 30px; font-weight: bold; color: darkgoldenrod; ">{{total_fuel}}
                                                gal</span>
                                        </div>




                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary" ng-cloak>

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <canvas id="run_hours" width="400" height="400"
                                                    aria-label="Hello ARIA World" role="img"></canvas>
                                            </div>
                                            <div class="col-md-4">
                                                <canvas id="energy_generated" width="400" height="400"
                                                    aria-label="Hello ARIA World" role="img"></canvas>
                                            </div>
                                            <div class="col-md-4">
                                                <canvas id="fuel_used" width="400" height="400"
                                                    aria-label="Hello ARIA World" role="img"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="box box-primary" ng-cloak>

                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <canvas id="generator_fuels_used" width="900" height="400"
                                                            aria-label="Hello ARIA World" role="img"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="box box-primary" ng-cloak>

                                            <div class="box-body">
                                                <div class="row">
                                                    <canvas id="fuel_filled" width="900" height="400"
                                                        aria-label="Hello ARIA World" role="img"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary" ng-cloak>
                                    <div class="box-header with-border">
                                        <h4 class="box-title" style="font-weight: bold">FUEL LEVEL </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img src="/images/fuel_meter.png" height="60" width="50">
                                                <span
                                                    style="margin-top:30px;font-size: 30px;margin-left: 30px; font-weight: bold; color:deeppink">
                                                    65 CM
                                                </span>
                                                <br>Last updated 1 minute ago
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box box-primary" ng-cloak>
                                    <div class="box-header with-border">
                                        <h4 class="box-title" style="font-weight: bold">FUEL VOLUME </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img src="/images/fuel_meter.png" height="60" width="50">
                                                <span
                                                    style="font-size: 30px; margin-top:30px;margin-left:30px; font-weight: bold; color:mediumblue">
                                                    430 gal
                                                </span>
                                                <br>Last updated 1 minute ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box box-primary" ng-cloak>
                                    <div class="box-header with-border">
                                        <h4 class="box-title" style="font-weight: bold">ALERTS </h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="navbar-custom-menu">
                                                <ul class="nav navbar-nav">
                                                    <ul class="menu">
                                                        <li>
                                                            <a href="#">
                                                                <i class=""></i>
                                                                Alert 1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class=" "></i>
                                                                Alert 2
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class=""></i>Alert 3
                                                            </a>
                                                        </li>

                                                    </ul>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <%- include ../partial/footer.ejs %>
    </div>
</body>

</html>