<!DOCTYPE html>
<html>

<head>
    <title>Simulation - Appliances</title>
    <% include ../partial/head.ejs %>
    <script src="/js/appliances/appliances.js"></script>
    <style>
        .dataTable>thead>tr>th[class*="sort"]::after {
            display: none
        }
    </style>

</head>

<body ng-app="appliances" class="hold-transition skin-purple fixed sidebar-mini" ng-cloak>

    <div class="wrapper">
        <% include ../partial/headbar.ejs %>
        <% include ../partial/sidebar.ejs %>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Appliances
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/appliances"><i class="fa fa-home"></i>Appliances</a></li>
                </ol>
            </section>

            <section class="content" ng-controller="appliancesController">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary" ng-cloak>
                            <!-- <div class="box-header with-border" data-widget="collapse">
                                <h3 class="box-title">Device History</h3>
                            </div> -->
                            <!-- /.box-header -->

                            <div class="box-body">
                                <div class="row">
                                    <!-- <div class="col-md-12">
                                        <h3>JSON</h3>
                                        <pre id="json"></pre>
                                        <h3>CSV</h3>
                                        <pre id="csv"></pre>
                                    </div> -->
                                    <div class="col-md-12">

                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <div id="csv_data_table">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <div id="appliances_table_csv_data">

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table id="table-building" class="table table-condensed table-hover"
                                                style="width: 100%;">
                                            </table>
                                        </div>
                                    </div>


                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <%- include ../partial/footer.ejs %>
    </div>
</body>

</html>